<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MLB Qualifying Offer Visualizer</title>
    <link rel="icon" type="image/x-icon" href="../static/images/phanaticLogo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
    <section class="hero is-info">
      <div class="hero-body">
        <div class = "columns">
        <div class="column is-three-quarters">
        <p class="title">
          MLB Qualifying Offer Visualizer
        </p>
        <p class="subtitle">
          Visualize how qualifying offers may affect your team
        </p>
        </div>
        <div class="column">
          <img style="max-height: 40vh;" src = "../static/images/phanaticLogo.png"/>
        </div>
      </div>
      </div>
    </section>
        {% block content %}{% endblock %}
      
  </body>
</html>