{% extends './base.html' %}
{% block content %}
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<div class = "box">
    <p>In baseball, a team can provide a departing free agent player with a qualifying offer: a one-year contract whose monetary value is the average of the 125 highest salaries from the past season. The player is free to reject it and sign with any other team, but his new team will have to forfeit a draft pick.</p>
    <div class="has-text-centered">
        <a  href="https://www.mlb.com/glossary/transactions/qualifying-offer"> Official information from the MLB </a>
    </div>
</div>
<div class="columns has-text-centered"> 
    <div class="column">
        <div class= "box">
            <h1 class = "title"> Are you a team interested in qualifying offers for a current player?</h1>
            <a class="button is-info" href="./current-team"> We can help! </a>
        </div>
    </div>
    <div class="column">
        <div class= "box">
            <h1 class = "title" > Are you a team interested in a player with a standing qualifying offer?</h1>
            <a class="button is-info" href="./future-team"> Check this out! </a>
        </div>
    </div>
</div>

<style>
    .custom-max-height {
      max-height: 75vh; /* 50% of the viewport height */
      overflow-y: auto; /* Add vertical scrollbar if content overflows */
    }
  </style>
<div class="columns custom-max-height"> 
    <div class="column">
        <div class = "box">
            <canvas id="moneyChart" style="width:100%;max-width:700px"></canvas>
            <canvas id="offerChart" style="width:100%;max-width:700px"></canvas>
            <script>
                const years = [2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022];
                const dollars = [13.3,14.1,15.3,15.8,17.2,17.4,17.9,17.8,18.9,18.4,19.7];
                const rejected= [9,13,12,17,8,9,6,8,4,13,12]
                const accepted = [0,0,0,3,2,0,1,2,2,1,2]
                
                new Chart("moneyChart", {
                type: "line",
                data: {
                    labels: years,
                    datasets: [{
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,0.1)",
                    data: dollars,
                    label: "qualifying offer (in millions of dollars)"
                    }]
                },
                options: {
                    legend: {display: true},
                }
                });

                new Chart("offerChart", {
                type: "line",
                data: {
        labels: years,
        datasets: [
            {
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(255,0,0,1.0)",
                borderColor: "rgba(255,0,0,0.1)",
                data: rejected,
                label: 'rejected offers',
            },
            {
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(0,255,0,1.0)",
                borderColor: "rgba(0,255,0,0.1)",    
                data: accepted,
                label: 'accepted offers',
            }
        ]
    },
                options: {
                    legend: {display: true},
                }
                });
                </script>
        </div>
    </div>
    <div class="column">
        <div class = "box custom-max-height">
            <h2 class="title">Recent Qualifying Offer History</h2>
            <p>{{QOHist|safe}}</p>
            <p>Source:
            <a href="https://www.mlb.com/news/history-of-mlb-qualifying-offer-decisions-c300602464"> Data from MLB</a>
            </p>
        </div>
        <div class="box">
            <a href="https://questionnaire-148920.appspot.com/swe/data.html">Link to raw data</a>
        </div>
    </div>
</div>
{% endblock %}